body{
    background-color: rgb(255, 255, 255);
}

p{
    color: rgb(3, 3, 3);
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 22px;    
    font-family: Arial, Helvetica, sans-serif;
}

.altP{
    text-align: right;
}

.robot{
    max-width: 50%;
    max-height: auto;
}

.teknikum{
    max-width: 80%;
    max-height: auto;
    text-align: center;
}
.teknikump{
    text-align: center;
}
h2{
    color: rgb(0, 0, 0);
    text-align: center;
}
.textp{
    background-color: rgb(52, 52, 66);
    text-align: center;  
    color: rgb(255, 255, 255);
}
.tankar{
    text-align: right;
}
.länk{
    text-align: center;
    text-decoration: none;
}
.sect{
    border-style: solid;
    border-color: black;
}